* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}


/* pocetak stilizacije a linka */

a:link {
    color: #428BCA;
    background-color: transparent;
    /* text-decoration: none; */
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}


/* kraj stilizacije a linka */


/* pocetak stilizacija navigacije i linkova */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333333; */
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}


/* kraj stilizacija navigacije i linkova */

.logo {
    float: left;
    width: 150px;
}

.slike {
    width: 100%;
}

.kolonalevo {
    width: 50%;
    /* min-height: 400px; */
    float: left;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    min-height: 150px;
    background-color: #88c5cc;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: white;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.content {
    /* clear: left; */
    padding: 20px;
    background-color: #f1f1f1;
    /* min-height: 400px; */
}

.footer {
    clear: left;
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}


/* stilizacija Vezbe_1 Flex boxova */

.heder-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    font-size: 25px;
    background-color: #FBFBFF;
    color: #040F30;
}

.content-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-evenly;
    min-height: 200vh;
    background-color: white;
}

.item-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #EEEEEE;
    border-radius: 8px;
    width: 30%;
}

.item-flex img {
    border-radius: 8px 8px 0 0;
}

.item-flex div {
    padding: 30px;
}

.item-flex h1 {
    font-size: 25px;
    margin-bottom: 10px;
}

.item-flex i {
    font-size: 13px;
    margin-right: 15px;
    color: #1BB0CE
}

.item-flex:hover {
    transition: 3s;
    transform: rotateY(360deg);
}

@media screen and (max-width:480px) {
    .content-flex {
        flex-direction: column;
    }
    .item-flex {
        width: 100%;
    }
    h1 {
        font-size: 25px;
    }
}


/* KRAJ stilizacija Vezbe_1 Flex boxova */


/* Stilizacija Vezbe_2 Flex */

.content404 {
    position: relative;
    width: 100vw;
    min-height: 35vh;
    background-color: white;
}

.notfound404 {
    font-size: 800%;
    margin: 2% 0 2% 15%;
    color: #CCCCCC;
}

.notfound {
    font-size: 400%;
    color: #CCCCCC;
}

.content404 p {
    font-size: 120%;
    margin: 0 0 2% 15%;
    color: #000000;
}

.content404-flex {
    display: flex;
    align-items: center;
    background-color: #293A4A;
    min-height: 30vh;
    color: white;
}

.content404-flex-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    background-color: white;
    border: 2px solid black;
    color: #551A8B;
}

@media screen and (max-width:480px) {
    .content404-flex {
        flex-direction: column;
        width: 100%;
    }
    #uzvicnik404 {
        display: none;
    }
}


/* KRAJ stilizacija Vezbe_2 Flex boxova */

.content-flex-vezba-3 {
    display: flex;
    max-width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-flex-vezba-3 {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: center;
    padding: 30px;
}

.item-flex-vezba-3 h1 {
    font-size: 32px;
    color: #1F2121;
    margin-bottom: 16px;
}

.item-flex-vezba-3 button {
    width: 200px;
    padding: 16px 28px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    color: #E9BB66;
    border: 3px solid #E9BB66;
    border-radius: 25px;
    margin-top: 26px;
}